[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:zip-generator/client-gateway.git
[submodule "document-generator-ms"]
	path = document-generator-ms
	url = git@github.com:zip-generator/document-generator-ms.git
